@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --color-bg: var(--color-grayscale-000);
    --color-text: var(--color-grayscale-900);

    --color-grayscale-000: hsl(0, 0%, 100%);
    --color-grayscale-300: hsl(210, 5%, 90%);
    --color-grayscale-400: hsl(205, 5%, 80%);
    --color-grayscale-500: hsl(210, 5%, 40%);
    --color-grayscale-600: hsl(215, 5%, 30%);
    --color-grayscale-700: hsl(230, 5%, 20%);
    --color-grayscale-800: hsl(260, 3%, 15%);
    --color-grayscale-900: hsl(0, 0%, 5%);

    --color-success-500: hsl(110, 20%, 50%);
    --color-success-600: hsl(130, 20%, 30%);

    --border-r: 0.4rem;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    color: var(--color-text);
    font-family: "Inter", sans-serif;
    transition: all 0.2s;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

img {
    width: 100%;
    background-size: cover;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
    line-height: 6rem;
}

h2 {
    font-size: 1.4rem;
    border-bottom: 0.2rem solid var(--color-text);
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

h1,
h3,
h4,
span,
p {
    margin: 0;
}

i {
    font-size: 0.8rem;
}

.width {
    max-width: 84rem;
    margin: auto;
}

.width-100 {
    width: 100%;
}

.fit {
    width: fit-content;
}

.flex {
    display: flex;
}

.flex-j-sb {
    justify-content: space-between;
}

.flex-al-c {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.padding {
    padding: 11rem 1rem;
}

.span-styled {
    display: block;
    width: 4rem;
    height: 0.1rem;
    margin-right: 1rem;
    background-color: var(--color-grayscale-500);
}

.p-styled {
    font-size: 1.5rem;
    font-style: oblique;
    color: var(--color-grayscale-500);
}

.ul-normal > li {
    list-style: disc;
    margin: 0.6rem 0;
}

.p-normal {
    margin: 1rem 0;
}

.c-wh,
.c-wh * {
    color: var(--color-bg);
}

.c-wh-calm,
.c-wh-calm * {
    color: var(--color-grayscale-400);
}

.b-r {
    border-radius: var(--border-r);
}

.b-left {
    border-left: 0.2rem solid var(--color-bg);
    padding-left: 1rem;
}

.dark-bg {
    background-color: var(--color-text);
}

.icon {
    width: 2rem;
    vertical-align: bottom;
    opacity: 0.8;
    margin: 0 1rem;
}

.gap {
    gap: 2rem;
}

nav {
    position: fixed;
    inset: 0;
    height: 4rem;
    padding: 1.4rem 0;
    background-color: var(--color-bg);
    border-bottom: 0.1rem solid var(--color-text);
    z-index: 1;
}

.nav-bar {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 10fr repeat(6, 1fr);
    justify-items: center;
    gap: 1rem;
}

.nav-bar__logo {
    justify-self: start;
}

.nav-bar__burger-btn {
    display: none;
}

.scrolled {
    background-color: var(--color-text);
    border-bottom: 0.1rem solid var(--color-bg);
}

.scrolled * {
    color: var(--color-bg);
}

.header__text-div {
    max-width: 44rem;
}

.header__image-div {
    max-width: 34rem;
    width: 100%;
    height: 34rem;
    background-image: url(./assets/images/header_00.webp);
    background-position: center;
}

.services_header {
    margin: 2rem auto;
}

.services_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "a a a d"
    "b c c d";
    gap: 1.8rem;
}

.services_item {
    padding: 12rem 2rem 2rem;
    align-content: end;
    background-color: var(--color-grayscale-300);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

div.services_item {
    padding: 6rem 2rem 1rem;
    background-color: var(--color-grayscale-500);
}

.services_item-01 {
    grid-area: a;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/services_01.webp);
}

.services_item-02 {
    grid-area: b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/services_02.webp);
}

.services_item-03 {
    grid-area: c;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/services_03.webp);
}

.services_item-04 {
    grid-area: d;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/services_04.webp);
}

.videos_header,
.credits_header {
    color: var(--color-bg);
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
}

.videos_header {
    margin-top: 20rem;
}

.gradient-text {
    font-size: 5rem;
    background-color: var(--color-bg);
    background-image: linear-gradient(90deg, rgba(222,70,252,1) 0%, rgba(161,66,219,1) 48%, rgba(64,79,208,1) 75%, rgba(63,142,251,1) 100%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: gradient 10s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.videos_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end
}

.videos_btn {
    width: 20rem;
    padding: 0.6rem 1rem;
    text-align: center;
    align-self: center;
    font-weight: 600;
    background-color: var(--color-grayscale-800);
    line-height: 1.5rem;
}

.videos_btn::before {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    content: "";
    background-image: url(./assets/icons/Bell.svg);
    background-size: cover;
}

.videos_btn::after {
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url(./assets/icons/Forward.svg);
    background-size: cover;
}

.videos_div {
    gap: 2rem;
    padding: 14rem 0;
    justify-content: center;
}

.videos_div * {
    width: 100%;
    max-width: 40rem;
    aspect-ratio: 16 / 9;
    border: 0.1rem solid var(--color-grayscale-500);
    border-radius: var(--border-r);
}

.credits_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    justify-content: center;
}

.credits_item {
    border: 0.1rem solid var(--color-bg);
}

.credits_item-img {
    outline: 0.1rem solid var(--color-bg);
}

.credits_item_info {
    padding: 1rem 1rem 3rem;
}

.item_info-p {
    margin-top: 1rem;
    color: var(--color-grayscale-400);
}

.form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
}

.input-style {
    width: 100%;
    padding: 0.4rem;
    border: 0;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
.textarea {
    border: 0.1rem solid var(--color-text);
    resize: none;
}

select {
    background-color: var(--color-grayscale-400);
    border-right: 0.2rem solid transparent!important;
}

input[type="submit"] {
    background-color: var(--color-grayscale-500);
    color: var(--color-bg);
}

input[type="submit"],
select {
    cursor: pointer;
}

.about-div {
    flex-direction: column;
    gap: 1rem;
}

.about_header {
    border: none;
    font-size: 3rem;
    margin: 0;
}

.about_item-00 {
    height: 42.4rem;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/images/about_00.webp);
}

#Services::before,
#Videos::before,
#Credits::before,
#About::before,
#Contact::before {
    content: '';
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
}

.overlay {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.success {
    max-width: 35rem;
    max-height: 20rem;
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg);
    border-radius: var(--border-r);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.success_cancel {
    align-self: flex-end;
    border: 0;
    background-color: transparent;
    color: var(--color-grayscale-500);
    font-size: 1.2rem;
    cursor: pointer;
}

.success_icon {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-bg);
    border: 0.4rem solid var(--color-success-500);
    border-radius: 50%;
    position: relative;
}

.success_icon:before,
.success_icon:after{
    content: '';
    display: block;
    width: 8%;
    position: absolute;
    background-color: var(--color-success-500);
}

.success_icon:before {
    height: 15%;
    top: 46%;
    left: 35%;
    transform: rotateZ(-45deg);
}
.success_icon:after {
    height: 40%;
    top: 30%;
    left: 54%;
    transform: rotateZ(45deg);
}

.success_btn {
    padding: 0.4rem 1rem;
    border-radius: var(--border-r);
    border: 0;
    background-color: var(--color-success-500);
    color: var(--color-bg);
    font-size: 1rem;
    cursor: pointer;
}

.running-line {
    width: 100%;
    height: 3rem;
    background-color: #5662F6;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.running-line_text {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 3rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: pre;
}

.line_text-1 {
    animation: run 70s linear infinite;
    animation-delay: -70s;
}
.line_text-2 {
    animation: run2 70s linear infinite;
    animation-delay: -35s;
}

.running-line_text::before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    content: "";
    background-image: url(./assets/icons/Discord.svg);
    background-size: cover;
}

@keyframes run {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes run2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width:65rem) {
    .services_div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a a d"
            "b c c";
        gap: 1.8rem;
    }

    .header-div {
        flex-direction: row-reverse;
    }

    .videos_info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contact-about-div {
        flex-direction: column;
    }

    .footer-div {
        flex-direction: column-reverse;
        text-align: center;
    }

    .credits_div {
        grid-template-columns: repeat(2, minmax(10rem, 17rem));
    }

    .success {
        max-width: 20rem;
        max-height: 30rem;
    }

    .success_icon {
        width: 6rem;
        height: 6rem;
    }

    .success_cancel {
        opacity: 0;
        user-select: none;
    }

    .success_btn {
        width: 100%;
        padding: 1.4rem;
        font-weight: 600;
    }
}

@media screen and (max-width:40rem) {
    h1 {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 0.2rem;
    }

    .padding {
        padding: 4rem 1rem;
    }

    nav,
    .scrolled {
        height: 0;
        padding: 0;
        border: none;
    }

    .header-div {
        height: 100vh;
    }

    .nav-bar {
        width: 100vw;
        height: 100vh;
        align-content: center;
        align-items: stretch;
        grid-template-columns: 0fr;
        background-color: var(--color-text);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/images/header_00.webp);
        background-size: cover;
        background-position: right;
        transform: translateX(100%);
        font-size: 1.5rem;
    }

    .nav-bar__active {
        transform: translateX(30%);
    }

    .nav-bar > li {
        width: 100%;
        padding: 0.4rem 1rem;
        border-left: 0.14rem solid var(--color-bg);
        text-shadow: 0 0 2rem var(--color-text);
    }

    .nav-bar > li > a {
        color: var(--color-bg);
    }

    .nav-bar__burger-btn {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        font-weight: 400;
        color: var(--color-bg);
        background-color: var(--color-grayscale-800);
        border-radius: var(--border-r);
        padding: 0.2rem 0.6rem;
        z-index: 1;
        cursor: pointer;
    }

    .services_div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a a"
            "b d"
            "c d";
        gap: 1.8rem;
    }

    .footer-div {
        padding: 8rem 1rem;
    }

}

@media screen and (max-width:32rem) {
    .header__image-div {
        display: none;
    }

    .services_div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d d";
        gap: 1.8rem;
    }

    .gradient-text {
        font-size: 4rem;
    }

    i{
        font-size: 0.6rem;
    }
}

@media screen and (hover:hover) and (min-width:40rem) {
    .nav-bar > li:hover,
    .nav-bar > li:active {
        border-bottom: 0.1rem solid;
    }

    a.services_item:hover {
        background-color: var(--color-bg);
        transform: scale(1.01);
        filter: brightness(1.1);
    }

    .videos_btn:hover {
        background-color: var(--color-grayscale-700);
    }

    .videos_div *:hover {
        border: 0.1rem solid var(--color-bg);
    }

    input[type="submit"]:hover {
        background-color: var(--color-grayscale-600);
    }

    .icon:hover {
        opacity: 1;
    }

    .running-line:hover {
        background-color: #4751df;
    }

    .success_cancel:hover {
        color: var(--color-text);
    }

    .success_btn:hover {
        background-color: var(--color-success-600);
    }
}

.remove {
    display: none;
}