@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root {
    --color-bg: var(--color-grayscale-800);
    --color-text: var(--color-grayscale-000);

    --color-grayscale-000: hsl(0, 0%, 100%);
    --color-grayscale-400: hsl(0, 0%, 92%);
    --color-grayscale-500: hsl(0, 0%, 78%);
    --color-grayscale-600: hsl(0, 0%, 51%);
    --color-grayscale-700: hsl(0, 0%, 27%);
    --color-grayscale-800: hsl(0, 0%, 13%);
    --color-tr: hsla(0, 0%, 100%, 0);

    --color-success-500: hsl(110, 20%, 50%);
    --color-success-600: hsl(130, 20%, 30%);

    --border-r: 4px;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;

    color: var(--color-text);
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-bg);
}

body > * {
    padding: 0 3rem;
}

article {
    padding-bottom: 4rem;
}

nav > *, header > *, main > *, footer > * {
    max-width: 1280px;
    margin: 0 auto;
}

nav > * {
    max-width: 100%;
}

.icon > * {
    width: 2rem;
    vertical-align: bottom;
    opacity: 0.8;
    margin: 0 1rem;
}

.icon-b {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    filter: invert(1);
}

.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* NAVIGATION BAR */
.logo-icon {
    background-image: url(./assets/icons/Loreweaver-logo.svg);
    width: 2.5rem;
    height: 2.5rem;
    display: block;
}

nav {
    width: 100%;
    height: 6rem;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 10;
}

.nav-bar-mob {
    display: none;
}

.nav-bar {
    display: grid;
    grid-template-columns: 10fr repeat(8, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: all 1s;
}

.nav-bar:nth-child(2) {
    justify-items: start;
}

.nav-bar > * > * {
    color: var(--color-bg);
}

.darkImgBar > * {
    filter: invert();
}

.scrolled {
    backdrop-filter: blur(0.6rem) brightness(80%) contrast(0.8);
    border-radius: var(--border-r);
    color: var(--color-text);
    text-shadow: 0 0 2rem var(--color-text);
}

.scrolled > * {
    filter: invert();
}

/* HEADER BG */
header {
    inset: -1rem 0;
    position: relative;
    height: 860px;
    background-image: linear-gradient(var(--color-tr), var(--color-grayscale-800)), url(./assets/images/header_bg.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header-background {
    min-width: 100%;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    z-index: -1;
}

.header-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.header-screen > div {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 6rem;
    font-family: "Orbitron", sans-serif;
}

.header-screen > h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.header-screen > * {
    margin: 0;
}

.line, .line-xl {
    display: block;
    width: 4rem;
    height: 0.1rem;
    margin-right: 1rem;
    background-color: var(--color-grayscale-500);
}

.line-p {
    font-size: 1.25rem;
    font-style: oblique;
    color: var(--color-grayscale-500);
}

.line-xl {
    width: 100%;
}

/* SERVICES */
h2, h3 {
    font-size: 24px;
}

h3 {
    font-weight: 200;
    font-style: oblique;
}

h4 {
    font-size: 1.8rem;
    font-weight: 800;
}

.short-gap {
    gap: 0.2rem;
}

.card-services,
.card-merch {
    width: 100%;
    height: 15rem;
    padding: 1rem;
    border-radius: var(--border-r);
    background-color: var(--color-text);
    align-content: flex-end;
    cursor: pointer;
}

.card-services > * {
    color: var(--color-bg);
}

/* YOUTUBE */
.cards-youtube {
    flex-wrap: wrap;
    gap: 0;
}

.card-youtube {
    width: 50%;
    aspect-ratio: 16 / 9;
    border: 1px solid var(--color-text);
    border-radius: var(--border-r);
    background-color: black;
}

/* MERCH */
.merch-div {
    margin-bottom: 1rem;
}

.merch-header {
    width: 100%;
    padding: 1rem 2rem;
    background-image: url(./assets/images/header_merch.webp);
    background-size: cover;
    background-position: center;
    filter: grayscale(1) brightness(1.2) contrast(0.8);
    border-radius: var(--border-r);
    cursor: pointer;
}

.merch-header > h2 {
    margin: 0;
}

.container {
    max-width: 1280px;
    overflow-x: scroll;
    padding-bottom: 3px;
}

.card-merch {
    min-width: calc(1280px / 4 - 3px);
    min-height: calc(1280px / 4 - 3px);
    background-color: var(--color-grayscale-500);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.card-merch > * {
    margin: 0.2rem;
    color: var(--color-text);
}

.container::-webkit-scrollbar {
    width: 1rem;
}

.container::-webkit-scrollbar-track {
    background-color: var(--color-grayscale-600);
    border-radius: var(--border-r);
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--color-grayscale-000);
    border-radius: var(--border-r);
}

/* CREDITS */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.credit {
    width: 100%;
    min-width: 150px;
    border: 1px solid var(--color-text);
    border-radius: var(--border-r);
    flex: 1 1 calc(20% - 3px);
    aspect-ratio: 1 / 1;
}

.empty-credit {
    background-color: var(--color-bg);
    border: none;
}

.credit-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border-radius: var(--border-r);
    border: 1px solid var(--color-text);
}

.credit-text {
    padding: 1rem;
}

.credit-text > * {
    margin: 0.5rem 0;
}

/* ABOUT */
.b {
    height: 313px;
    color: var(--color-bg);
}

.outline_text {
    color: var(--color-text);
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 6rem;
    line-height: 5rem;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-card {
    padding: 2rem;
    margin-left: 6.5rem;
    background-color: var(--color-text);
    border-radius: var(--border-r);
}

.about-img {
    min-width: 600px;
    height: 600px;
    margin-left: -8.5rem;
    border-radius: var(--border-r);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
}

#media {
    justify-content: end;
}

/* BUTTONS */
.button_fill_w, .button_outline_b, .button_outline_w {
    padding: 0.2rem 1.5rem;
    font-weight: 500;
    color: var(--color-bg);
    border-radius: var(--border-r);
    cursor: pointer;
}

.button_fill_w {
    background-color: var(--color-text);
}

.button_outline_b {
    border: 2px solid var(--color-bg);
}

.button_outline_w {
    border: 2px solid var(--color-text);
    color: var(--color-text);
}


.btn-about-active {
    color: var(--color-bg);
    background-color: var(--color-text);
}

/* CONTACT FORM */
.contact-info {
    background-color: var(--color-text);
    padding: 1rem;
}

.info * {
    color: var(--color-bg);
    margin: 1rem 0;
}

.info > ul {
    min-height: 300px;
    align-content: center;
}

.ul-normal > li {
    list-style: disc;
    margin: 0.6rem 2rem;
}

u {
    border-bottom: 1px solid var(--color-bg);
}

.contact-info, .form {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border-radius: var(--border-r);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
}

.input-style {
    width: 100%;
    padding: 0.4rem;
    border: 0;
    border-radius: var(--border-r);
    font-size: 1rem;
}



.input-style {
    width: 100%;
    padding: 0.4rem;
    border: 0;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
.textarea {
    border: 0.1rem solid var(--color-text);
    color: var(--color-bg);
    resize: none;
}

select {
    background-color: var(--color-grayscale-600);
    border-right: 0.2rem solid transparent!important;
}

input[type="submit"] {
    background-color: var(--color-grayscale-500);
    color: var(--color-bg);
}

input[type="submit"],
select {
    cursor: pointer;
}

.overlay {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.success {
    max-width: 35rem;
    max-height: 20rem;
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg);
    border-radius: var(--border-r);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.success_cancel {
    align-self: flex-end;
    border: 0;
    background-color: transparent;
    color: var(--color-grayscale-500);
    font-size: 1.2rem;
    cursor: pointer;
}

.success_icon {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-bg);
    border: 0.4rem solid var(--color-success-500);
    border-radius: 50%;
    position: relative;
}

.success_icon:before,
.success_icon:after{
    content: '';
    display: block;
    width: 8%;
    position: absolute;
    background-color: var(--color-success-500);
}

.success_icon:before {
    height: 15%;
    top: 46%;
    left: 35%;
    transform: rotateZ(-45deg);
}
.success_icon:after {
    height: 40%;
    top: 30%;
    left: 54%;
    transform: rotateZ(45deg);
}

.success_btn {
    padding: 0.4rem 1rem;
    border-radius: var(--border-r);
    border: 0;
    background-color: var(--color-success-500);
    color: var(--color-bg);
    font-size: 1rem;
    cursor: pointer;
}


@media screen and (hover:hover) {
    a:hover {
        border-bottom: 1px solid;
    }

    .button_fill_w:hover {
        background-color: var(--color-grayscale-600);
        color: var(--color-text);
        border: 0;
    }

    .button_outline_b:hover {
        background-color: var(--color-bg);
        color: var(--color-text);
        border: 2px solid var(--color-bg);
    }

    .button_outline_w:hover {
        background-color: var(--color-text);
        color: var(--color-bg);
    }

    .logo-icon:hover {
        border: 0;
        transform: scale(1.2);
    }

    .card-services:hover {
        filter: brightness(0.8);
        border: 0;
    }

    .card-merch:hover {
        background-color: var(--color-grayscale-600);
        background-blend-mode: multiply;
        border: 0;
    }

    .icon:hover, .icon-b:hover {
        border: 0;
        transform: scale(1.1);
    }

    .merch-header:hover {
        border: 0;
        filter: grayscale(1) brightness(1.6) contrast(0.8);
    }
}

#Services::before,
#Youtube::before,
#Merch::before,
#Credits::before,
#About::before,
#Contact::before {
    content: '';
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
}

@media screen and (max-width:1400px) {
    .credit {
        flex: 1 1 calc(30% - 3px);
    }

    .credit-text > h4 {
        font-size: 1.2rem;
    }

    .credit-text > p, .credit-text > h5 {
        font-size: 0.8rem;
    }

    .empty-credit {
        display: none;
    }

    .youtube-bar > h3 {
        font-size: 1rem;
    }

    .outline_text {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .about-img {
        width: 100%;
        min-width: 200px;
    }

    footer > * {
        flex-direction: column-reverse;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media screen and (max-width:840px) {
    body > * {
        padding: 0 1rem;
    }

    header {
        background-position: 70% 0%;
    }

    nav {
        justify-content: end;
    }

    .nav-bar {
        position: absolute;
        inset: 0;
        width: 100vw;
        height: 100vh;
        align-content: center;
        align-items: stretch;
        grid-template-columns: 0fr;
        background-color: var(--color-text);
        background-size: cover;
        background-position: right;
        transform: translateX(100%);
        transition: transform 2s;
        font-size: 1.5rem;
    }

    .nav-bar__active {
        transform: translateX(30%);
    }

    .nav-bar > li {
        width: 100%;
        padding: 0.4rem 1rem;
        border-left: 0.14rem solid var(--color-bg);
        text-shadow: 0 0 2rem var(--color-text);
    }

    .nav-bar > li:first-child, .nav-bar > li:last-child {
        text-align: -webkit-center;
        border-left: none;
    }

    .nav-bar-mob {
        display: block;
        position: fixed;
        padding: 0.5rem 0.7rem;
        margin-right: 1rem;
        border: 2px solid var(--color-text);
        border-radius: var(--border-r);
        font-weight: 600;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0.4;
    }

    .scrolled > * {
        filter: none;
    }

    .darkImgBar > * {
        filter: none;
    }

    .card-services {
        height: 18rem;
    }

    a {
        font-size: 1rem;
    }

    .youtube-bar > h3, .youtube-bar > span {
        display: none;
    }

    .line-p {
        font-size: 1rem;
    }

    .outline_text {
        font-size: 3rem;
        line-height: 3rem;
    }

    .about-div, .merch-div {
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .about-div > h2, .merch-div > h2 {
        width: 100%;
        margin-bottom: 0;
    }

    .about-div > div {
        flex-grow: 1;
        text-align: center;
        padding: 0;
    }

    .about-card > .flex {
        flex-direction: column;
    }

    .about-img {
        margin-left: -16.5rem;
    }

    .contact-div {
        justify-content: space-between;
    }

    .contact-div > .line-xl {
        display: none;
    }

    .contact-container {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 4rem;
    }

    .header-screen > h4 {
        font-size: 1.2rem;
    }

    .services-div {
        flex-wrap: wrap;
    }

    .about-card, .about-img {
        margin-left: 0;
    }

    .card-services, .card-merch {
        width: calc(50% - 3px);
    }

    .card-youtube {
        width: 100%;
    }

    .about-img {
        height: 400px;
    }
}

.remove {
    display: none;
}